name: 'Terraform Destroy Pipeline'

on:
  workflow_dispatch:

jobs:
  terraform-destroy:
    name: 'Terraform Destroy'
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Executa o terraform destroy para o módulo EC2
      - name: Terraform Destroy EC2
        run: |
          cd module/ec2
          terraform init
          terraform destroy -auto-approve -var-file="configs/ec2.tfvars"

      # Executa o terraform destroy para o módulo RDS
      - name: Terraform Destroy RDS
        run: |
          cd module/rds
          terraform init
          terraform destroy -auto-approve -var-file="configs/terraform.tfvars"

      # Executa o terraform destroy para o módulo S3
      - name: Terraform Destroy S3
        run: |
          cd module/s3
          terraform init
          terraform destroy -auto-approve -var-file="configs/bucket-s3-1.tfvars"