name: 'Terraform Destroy Pipeline'

on:
  workflow_dispatch: # Permite que você acione manualmente a pipeline a partir do GitHub

jobs:
  terraform-destroy:
    name: 'Terraform Destroy'
    runs-on: ubuntu-latest # Define o tipo de máquina virtual para executar o job

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4 # Pega o código fonte do repositório

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1 # Configura o Terraform CLI

      - name: Terraform Init and Destroy
 
      # Executa o terraform destroy para o módulo EC2
      - name: Terraform Destroy EC2
        run: |
          cd module/ec2
          terraform init
          terraform destroy -auto-approve

      # Executa o terraform destroy para o módulo S3
      - name: Terraform Destroy S3
        run: |
          cd module/s3
          terraform init
          terraform destroy -auto-approve